:host {
  display: block;
  /* //height: 100%; */
  min-height: 100vh; /* S'assurer que tout le contenu prend au moins la hauteur de la fenêtre */
  background-color: transparent; /* Ne pas écraser le style global */
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
}

router-outlet {
  display: block;
  height: 100%; /* Permet au contenu de remplir tout l'espace */
  flex-grow: 1; /* Le contenu principal s'étend pour remplir l'espace restant */
}
